
{% extends 'articles/basic.html' %}
{% block title %}Details {% endblock %}
{% block css %}
<style>
    .nounderline {
        text-decoration: none;
    }

    table h1 {
        display: block;
        font-size: 22px;
        color: #0F3063;
        margin-left: 0;
        margin-right: 0;
    }

    td {
        font-size: 18px;
    }

    h2 {
        font-size: 26px;
    }

    li {
        font-size: 19px;
        margin-left: 10px;
    }

    @media (max-width: 991px) {
        td {
            font-size: 26px;
        }

        h2 {
            font-size: 23px;
        }
    }

    @media (max-width: 767px) {
        h2 {
            font-size: 32px;
        }

        td {
            font-size: 30px;
        }

        ul li {
            font-size: 30px;
        }
    }
</style>
{% endblock %}
{% block body %}
<!-- for loading filter tags -->
{% load filter_tags %}
<div class="container col-sm-8 offset-2 ">
    <table width="100%" class="align-center">
        <tr valign="top">
            <td>
                <div class="text-left">
                    <h2>
                        <table class="text-center" style="margin-left:10px">
                            <tr>
                                <td valign="top" class="text-left" style="font-weight:bold; color:#FF0033">Name of Post:</td>
                                <td valign="top" class="text-left">
                                    <h1>{{job_details.0.job_title}}</h1>
                                </td>
                            </tr>
                            <tr>
                                <td valign="top" class="text-left" style="font-weight:bold; color:#FF0033" >Post Date :</td>
                                <td valign=" top" class="text-left">
                                    {{ job_details.0.post_date|date:'d M Y | H:i ' }}
                                </td>
                            </tr>
                            <tr>
                                <td valign="top" class="text-left" style="font-weight:bold; color:#FF0033" >Post Update Date :</td>
                                <td valign=" top" class="text-left"> {{ job_details.0.post_update|date:'d M Y | H:i ' }}</td>
                            </tr>
                           
                        </table>

                        <table class="table table-bordered border-dark" cellspacing="0" cellpadding="0">
                            <tbody>
                                <tr>
                                    <td colspan="10" valign="top" width="672">
                                        <h2 class="text-center"><span style="color: #ff00ff;"><b>{{job_details.0.company_name}}</b></span><b></b></h2>
                                        <h2 class="text-center"><span style="color: #008000;"><b>{{job_details.0.job_title}}</b></span><b></b></h2>
                                        
                                        <h2 class="text-center"><span style="color: #ff0000;"><b><a
                                                        title="Private Naukari 2021 - 2022" href="#" target="_blank"
                                                        class="nounderline"><span
                                                            style="color: #ff0000;">WWW.PRIVATENAUKARI.COM</span></a></b></span><b></b>
                                        </h2>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="6" valign="top" width="354">
                                        <h2 class="text-center"><span style="color: #008000;"><b>Important
                                                    Dates</b></span><b></b></h2>
                                        <ul>
                                            <li>Application Begin : <b> {{ job_details.0.begin_date|date:'d/m/Y ' }}</b></li>
                                            <li>Last Date for Apply Online :<span style="color: #ff0000;"><b>
                                                {{ job_details.0.last_date|date:'d/m/Y'}}</b></span></li>
                                            {% if job_details.0.admitcard_date %}
                                                <li>Admit Card Available : <b>{{job_details.0.admitcard_date}}</b></li>
                                            {% endif %}
                                            {% if job_details.0.exam_date %}
                                                <li>Exam Date : <b> {{ job_details.0.exam_date  }}
                                                </b></li>
                                            {% endif %}
                                            {% if job_details.0.interview_date %}
                                            <li>Interview Date : <b>{{job_details.0.interview_date}}</b></li>
                                            {% endif %}
                                            {% if job_details.0.result_date %}
                                            <li>Result Date : <b>{{job_details.0.result_date}}</b></li>
                                            {% endif %}
                                        </ul>
                                    </td>
                                    <td colspan="4" valign="top" width="318">
                                        <h2 class="text-center"><span style="color: #008000;"><b>Selection Procedure</b></span><b></b></h2>
                                        <ul>
                                            {% with job_details.0.selection_procedure|split:"," as procedures %}
                                                {% for process in procedures %}
                                                    <li>{{ process}}</li>
                                                {% endfor %}
                                            {% endwith %}
                                            
                                            
                                        </ul>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="6" valign="top" width="672">
                                        <h2 class="text-center"><span style="color: #008000;"><b>Age Limit <span
                                                        style="color: #008000;">as on </span></b><span
                                                    style="color: #ff00ff;"><b> {{ job_details.0.last_date|date:'d/m/Y ' }}</b></span></span><b></b></h2>
                                        <ul>
                                            <li>Minimum Age : <b>{{job_details.0.min_age}}      Years.</b></li>
                                            <li>Maximum Age : <b>{{job_details.0.max_age}}      Years.</b></li>
                                            
                                        </ul>
                                    </td>
                                    <td colspan="4" valign="top" width="318">
                                        <h2 class="text-center"><span style="color: #008000;"><b>Location</b></span><b></b></h2>
                                        <ul>
                                            {% with job_details.0.location|split:"," as locations %}
                                                {% for location in locations  %}
                                                    <li>{{location}}</li>
                                                {% endfor %}
                                            {% endwith %}
                                        </ul>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="10" valign="top" width="672">
                                        <h2 class="text-center"><span style="color: #008000;"><span
                                                    style="color: #ff00ff;"><b>Vacancy Details</b></span><b> Total : {{job_details.0.total_post}}
                                                    Post</b></span><b></b></h2>
                                    </td>
                                </tr>
                                <tr>
                                    <td valign="top" width="127">
                                        <p class="text-center"><b>Post Name</b></p>
                                    </td>
                                    <td colspan="2" valign="top" width="71">
                                        <p class="text-center"><b>Total</b></p>
                                    </td>
                                    <td colspan="7" valign="top" width="474">
                                        <p class="text-center"><b>Eligibility</b></p>
                                    </td>
                                </tr>
                                <tr>
                                    <td valign="top" width="127">
                                        <p class="text-center">{{job_details.0.post_name}}</p>
                                    </td>
                                    <td colspan="2" valign="top" width="71">
                                        <p class="text-center">{{job_details.0.total_post}}</p>
                                    </td>
                                    <td colspan="7" valign="top" width="474">
                                        <ul>
                                            {% with job_details.0.eligibility|split:","  as eligibilitys %}
                                                {% for eligibility in eligibilitys %}
                                                    <li>{{eligibility}}</li>
                                                {% endfor %}
                                            {% endwith %}
                                            
                                           
                                            
                                        </ul>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="10" valign="top" width="672">
                                        <h2 class="text-center"><span style="color: #008000;"><b>Full Job Description</b></span></h2>
                                    </td>
                                   
                                </tr>
                                <tr>
                                    <td colspan="10" valign="top" width="672">
                                        {{job_details.0.job_description}}
                                    </td>
                                   
                                </tr>

                                
                                <tr>
                                    <td colspan="10" valign="top" width="672">

                                        <h2 class="text-center"><span style="color: #008000;"><b>About Company</b></span></h2>
                                        
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="10" valign="top" width="672">
                                        {{job_details.0.about_company}}
                                    </td>
                                   
                                </tr>
                                <tr>
                                    <td colspan="10" valign="top" width="672">
                                        <h2 class="text-center"><span style="color: #ff00ff;"><b>Interested Candidates
                                                    Can Read the Full Notification Before Apply Online.</b></span></h2>
                                    </td>
                                </tr>
                                <tr>

                                <tr>
                                    <td colspan="10" valign="top" width="672">
                                        <h2 class="text-center"><span style="color: #008000;"><b>Some Useful Important
                                                    Links</b></span><b></b></h2>
                                    </td>
                                </tr>
                                <tr>
                                    {% if job_details.0.result_link %}
                                    <td colspan="5" valign="top" width="351">
                                        <h2 class="text-center"><span style="color: #ff00ff;"><b>Download Result</b></span><b></b></h2>
                                    </td>
                                    <td colspan="5" valign="top" width="321">
                                        <h2 class="text-center"><b><a
                                                    href="{{job_details.0.result_link}}"
                                                    target="_blank" class="nounderline">Click Here</a></b></h2>
                                    </td>
                                    {% endif %}
                                </tr>
                                <tr>
                                    {% if job_details.0.admitcard_link %}
                                    <td colspan="5" valign="top" width="351">
                                        <h2 class="text-center"><span style="color: #ff00ff;"><b>Download Admit Card</b></span><b></b></h2>
                                    </td>
                                    <td colspan="5" valign="top" width="321">
                                        <h2 class="text-center"><b><a
                                                    href="{{job_details.0.admitcard_link}}"
                                                    target="_blank" class="nounderline">Click Here</a></b></h2>
                                    </td>
                                    {% endif %}
                                </tr>
                                <tr>
                                    <td colspan="5" valign="top" width="351">
                                        <h2 class="text-center"><span style="color: #ff00ff;"><b>Apply
                                                    Online</b></span><b></b></h2>
                                    </td>
                                    <td colspan="5" valign="top" width="321">
                                        <h2 class="text-center"><b><a
                                                    href="{{job_details.0.apply_link}}"
                                                    target="_blank" class="nounderline">Click Here</a></b></h2>
                                    </td>
                                </tr>

                                <tr>
                                    <td colspan="5" valign="top" width="351">
                                        <h2 class="text-center"><span style="color: #ff00ff;"><b>Official
                                                    Website</b></span><b></b></h2>
                                    </td>
                                    <td colspan="5" valign="top" width="321">
                                        <h2 class="text-center"><b><a title="" href="{{job_details.0.offical_link}}" target="_blank"
                                                    class="nounderline">Click Here </a></b></h2>
                                    </td>
                                </tr>
                                
                            </tbody>
                        </table>
                </div>
            
            </div>
                
                    
                {% endblock %}