{% extends 'articles/basic.html' %}
{% block title %}PrivateNaukari.com: PrivateNaukari.com {% endblock %}
{% block css %}
    <style>
        .nounderline {
        text-decoration: none;
        }
        table,thead,tr,tbody,th,td {
        text-align: center;
        }
        tbody>tr{
         border-bottom: hidden;
       }
       .card {min-height:700px;max-height:800px;overflow:auto;}
      </style>
{% endblock %}
{% block body %}

    
      <div class="container col-sm-8 offset-2">
          <div class="row mt-2">
              <div class="col-sm-4  table-responsive" >
                  
               <div class="card">
                  <div class="card-header text-center">
                    <span><b>Result</b></span>
                  </div>
                  <div class="card-body">
                   <ul>
                    {% for job in job_list %}
                    {% if job.result_date %}
                    <li><a href="{% url  'details'  job.id job.job_title  %}" class="nounderline"  target="_blank">{{job.job_title }}</a></li>
                    {% endif %}
                  {% endfor %}
                  </ul>
                     
                     <a title="" href="#" target="_blank" class="nounderline">View More</a>
                     
                     
                  </div>
                </div>
              </div>
              <div class="col-sm-4  table-responsive" >
               <div class="card">
                  <div class="card-header text-center">
                    <span><b>Admit Card</b></span>
                  </div>
                  <div class="card-body">
                   <ul>
                    {% for job in job_list %}    
                      {% if job.admitcard_date %}
                        <li><a href="{% url  'details'  job.id job.job_title  %}" class="nounderline"  target="_blank">{{job.job_title}}</a></li>
                      {% endif %}
                    {% endfor %}
                  
                  </ul>
                    <a title="" href="#" target="_blank" class="nounderline">View More</a>
                  </div>
                </div>
              </div>
              <div class="col-sm-4  table-responsive" >
                  
               <div class="card">
                  <div class="card-header text-center">
                    <span><b>Latest Jobs</b></span>
                  </div>
                  <div class="card-body">
                   <ul>
                    {% for job in job_list %}
                    <li><a href="{% url  'details'  job.id job.job_title  %}" class="nounderline"  target="_blank">{{job.job_title}}</a></li>
                    {% endfor %}
                    </ul>
                    <a title="" href="#" target="_blank" class="nounderline">View More</a>
                  </div>
                </div>
              </div>
          </div>
          <div class="row mt-2">
            <div class="col-sm-4  table-responsive" >
                  
               <div class="card">
                  <div class="card-header text-center">
                    <span><b>Model Papers</b></span>
                  </div>
                  <div class="card-body">
                   <ul>
                      <li><a href="#" target="_blank" rel="noopener noreferrer">Infosys</a></li>
                     
                   </ul>
                   <a title="" href="#" target="_blank" class="nounderline">View More</a>
                  </div>
                </div>
              </div>
              <div class="col-sm-4  table-responsive" >
                  
               <div class="card">
                  <div class="card-header text-center">
                    <span><b>Syllabus</b></span>
                  </div>
                  <div class="card-body">
                   <ul>
                      {% for job in job_list %}
                        {% if job.syllabus_link %}
                        <li><a href="{% url  'details'  job.id job.job_title  %}" class="nounderline"  target="_blank">{{job.job_title }}</a></li>
                        {% endif %}
                      {% endfor %}
                      
                   </ul>
                   <a title="" href="#" target="_blank" class="nounderline">View More</a>
                  </div>
                </div>
              </div>
              <div class="col-sm-4  table-responsive " >
                  
               <div class="card">
                  <div class="card-header text-center">
                    <span><b>Others</b></span>
                  </div>
                  <div class="card-body">
                   <ul>
                      <li><a href="#" target="_blank" rel="noopener noreferrer">Infosys</a></li>
                      

                   </ul>
                   <a title="" href="#" target="_blank" class="nounderline">View More</a>
                  </div>
                </div>
              </div>
        </div>
      
    
 {% endblock %}